:root {
  --bgColor: black;
  --color1: white;
  --font-size: 12px;
  --fontFamily1: "poppins";
  --fontfamily2: "Inter";
}
.studentHero {
  background-color: var(--color1);
  box-sizing: border-box;
  display: flex;
  width:max-content;
  justify-content: center;
  align-items: center;
  font-family: var(--fontfamily2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto;
  margin-top: 20px
  
}

#arrow{
    /* background-color: red; */
    color: red;
    width: 30px;
    align-self: flex-start;
    margin: 10px 0px 0px 10px;
}

#arrow:hover,.stdbtn{
    cursor: pointer;
}
.btnstd {
  padding: 10px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  width: 250px;
  row-gap: 10px;
  /* margin-bottom: 20px; */
  margin: 30px
  
}

#heroImg{
    /* max-width: 100%; */
    width: 400px;
}

.stdbtn {
  padding: 15px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--bgColor);
  color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-weight: 600;

}
.studentHero h1 {
  letter-spacing: 3px;
text-shadow: 1px 0px 1px rgba(232,38,38,0.6);
  
  /* border-bottom: 2px solid; */
}

.studentLogin {
  background-color: var(--color1);
  color: var(--bgColor);
  border: 1.5px solid;
  padding: 15px;
}

.studentSignup{
  border: 1.5px solid;

}
