:root {
  --bgColor: black;
  --color1: white;
  --font-size: 12px;
  --fontFamily1: "poppins";
  --fontfamily2: "Inter";
}
.studentHero {
   background-color: var(--color1);
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-family: var(--fontfamily2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto ;
  margin-top: 50px;
}

#arrow:hover,.stdbtn{
    cursor: pointer;
}
.btnstd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;

}

#heroImg{
    /* max-width: 100%; */
    width: 400px;
}

.stdbtn {
  padding: 15px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--bgColor);
  color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-weight: 600;
  width: 250px;

}

.studentLogin {
  background-color: var(--color1);
  color: var(--bgColor);
  border: 1.5px solid;
  padding: 15px;
}

.studentSignup{
  border: 1.5px solid;
  margin-bottom: 20px;

}

/* media query */
@media screen and (max-width: 860px) {
  .studentHero{
    display: flex;
    justify-items: center;
    margin-top: 70px;
  }
  #heroImg{
    width: 250px;

  }
  
}

@media screen and (max-width:600px) {
  .studentHero{
    flex-direction: column;
    margin:30px auto;
    justify-items: center;

  }

}