:root {
  --bgColor: black;
  --color1: white;
  --font-size: 12px;
  --fontFamily1: "poppins";
  --fontfamily2: "Inter";
}

.main {
  box-sizing: border-box;
  background-color: var(--bgColor);
  color: var(--color1);
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fontfamily2);
  height: 10vh;
}

.schoolName {
  display: flex;
  align-items: center;
  max-width: 500px;
}
.schoolName img {
  width: 50px;
}
.schoolName .schoolNameDesktop {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
}
.schoolName .schoolNameMobile {
  display: none;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
}
.links {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: 4px;
}
.links a:hover {
  background-color: var(--color1);
  color: var(--bgColor);
  padding: 1px;
  border-radius: 5px;
  box-sizing: border-box;
}
.links a {
  color: var(--color1);
  font-size: 1rem;
  text-decoration: none;
  padding: 1px;
}
.navs {
  min-width: 150px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px;
  font-weight: 800;
  border: none;
}

.btn:hover {
  background-color: var(--bgColor);
  color: var(--color1);
  border: 1px solid var(--color1);
  border-radius: 5px;
  cursor: pointer;
}

div.main .hamburger {
  display: none;
  font-size: 40px;
}

.mobileMenu {
  display: none;
}

.mobileMenu a {
  text-decoration: none;
  color: black;
}
.mobileMenu a:hover{
  text-decoration: underline;
  padding: none;
  cursor: pointer;
}

/* media queries */

@media screen and (max-width: 860px) {
  .main {
    padding: 0px;
  }
  .navs,
  .links {
    display: none;
  }
  div.main .hamburger {
    display: block;
    cursor: pointer;
  }
  .main .schoolNameDesktop {
    display: none;
  }
  .main .schoolNameMobile {
    display: block;
    font-size: 12px;
    margin-left: -10px;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    top: 70px;
    position: absolute;
    width: 200px;
    padding: 10px;
    gap: 10px;
    z-index: 999;
    background-color: lightgray;
    width: 100%;
   }
    .mobileMenu .btn {
    width: 100%;
    text-align: center;
    margin: 0 auto;    /* center inside menu */
  }

  .mobileMenu a{
    display: inline !important;
    /* color: red; */
  }
}

@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
  .schoolName img {
    width: 40px;
    margin-right: 5px;
  }
}
